header {
  min-height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--overpass);
  /* border: 1px solid; */
  font-size: 1.6rem;
  font-weight: 700;
}
.logo {
  /* border: 1px solid; */
  min-height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > a > img {
  height: 7rem;
  width: 9rem;
}
.logo > a > img:hover {
  cursor: pointer;
}
.navLinks {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid; */
}
.navLinks > :nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  /* border: 1px solid; */
}
.navLinks > :nth-child(1) > a {
  text-decoration: none;
  color: black;
  border: none;
}
.navLinks > div > a:hover {
  text-decoration: underline;
}
.subNavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subNavLinks > span {
  color: red;
  font-size: 1.3rem;
  padding: 0.2rem;
}
